<nav class="navbar navbar-dark navbar-expand-lg blackNav">
    <div class="container">
        <a class="navbar-brand p-0" href="/"><h2>Easy<i class="fas fa-hamburger"></i>Eats</h2></a>
        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item  mr-3 p-1">
                    <a class="nav-link" href="/login">LOG IN</a>
                </li>
                <li class="nav-item p-1">
                    <a class="nav-link" href="#" id="signUp" data-toggle="modal" data-target="#signUpModal">SIGN UP</a>
                </li>
            </ul>
        </div>
    </div>
</nav>