<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="signUpModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h3 class="modal-title w-100 text-center" id="signUpModalLabel">Sign Up</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        <div class="info-messages"></div>
        <form class="text-center" id="sign-up">
                <div class="form-group">
                    <label for="signUpName"></label>
                    <input type="text" name="signUpNameInput" class="form-control text-center" id="signUpNameInput" placeholder="First name">
                </div>
                <div class="form-group">
                    <label for="signUpInEmal"></label>
                    <input type="email" class="form-control text-center" id="signUpEmailInput" id="signUpEmailInput" aria-describedby="emailHelp" placeholder="Email address">
                </div>
                <div class="form-group">
                    <label for="signUpPassword"></label>
                    <input type="password" class="form-control text-center" id="signUpPasswordInput" id="signUpPasswordInput"  placeholder="Password">
                </div>
                <div class="form-group">
                <label for="signUpPassword2"></label>
                <input type="password" class="form-control text-center" id="signUpPasswordInput2" id="signUpPasswordInput2"  placeholder="Confirm Pass">
            </div>
                <button type="submit" class="btn btn-secondary mt-3 px-5"><h5 class="mt-1">SIGN UP</h5></button>
        </form>
        </div>
        <div class="modal-footer">
        <span class="text-center w-100">Already have an account?</span>
        <span class="text-center w-100 text-decoration-none"><a href="/login" id="signUpLogInLink">LOG IN</a></span>
        </div>
    </div>
    </div>
</div>