body {
    position: relative;
}

#homeJumbotron {
    background-image: url("../images/burger1.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 700px;
}
.navbar-brand h2 {
    font-family: 'Fugaz One', cursive;
    letter-spacing: 5px;
}
.fas {
    color: #F5DC47;
}
.nav-item {
    border: 3px solid #ffffff;
    border-radius: 25px;
}

#blackNav {
    background: #000000;
}

.nav-item a:hover {
    color: #F5DC47 !important;
}

.nav {
   
}

#titleContainer {
    /* position: relative;
    top: 100px */
}

#restaurantSearch {
    background: #F5DC47;
}

#logInSignUpLink {
    color: #000000;
}

#signUpLogInLink {
    color: #000000;
}

#scanQRcode {
    color: #F5DC47;
    background: #4d4c4c;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}