body {
    position: relative;
}

#homeJumbotron {
    background-image: url("../images/burger1.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 700px;
}

#userJumbotron {
    background-image: url("../images/dinnerTable.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 400px;
}
.navbar-brand h2 {
    font-family: 'Fugaz One', cursive;
    letter-spacing: 5px;
}
.fas {
    color: #F5DC47;
}
.nav-item {
    border: 3px solid #ffffff;
    border-radius: 25px;
}

.blackNav {
    background: #000000;
}

.nav-item a:hover {
    color: #F5DC47 !important;
}

#titleContainer {
    margin-top: 200px !important;
}

#restaurantSearch {
    background: #F5DC47;
}

#logInSignUpLink {
    color: #000000;
}

#signUpLogInLink {
    color: #000000;
}

#scanQRcode {
    color: #000000;
    background: #F5DC47;
}

#itemAmountInput {
    font-size: 24px;
}

#addBtn {
    font-size: 22px;
}

#menuContainer .card-header {
    background: rgb(199, 199, 199);
    color: #000000;
}

#aboutSection {
    margin-top: 300px;
    background: #cccccc;
}


.orderCards {
    border: 2px solid #F5DC47 !important;
}

#logicBody {
   margin-bottom: 100px;
}

#menuContainer {
   /* margin-top: 100px; */
   margin-bottom: 100px;
}

#userScanQRcode {
    color: #F5DC47;
    background: #000000;
}

#footer {
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}