<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Easy Eats: Add Menu Category</title>
        <% include ../partials/head %>
    </head>

    <body>
        <% include ../partials/manager-header %>

        <div class="container my-5">
                <h3 class="border-bottom p-1 mb-4">Add Menu Category</h3>
                <div class="row">
                    <div class="col-4">
                    </div>
                    <div class="col-4">
                            <% include ../partials/messages %>
                        <form class="text-center" name="addCategory" method="POST" action="/app/products/categories/add">
                            <div class="form-group">
                                <label for="itemName"></label>
                                <input type="text" class="form-control text-center" name="categoryName" placeholder="Category Name">
                            </div>
                            <button type="submit" class="btn btn-secondary mt-3 mb-5 px-5"><h5 class="mt-1">Submit</h5></button>
                        </form>
                        <div class="col-4">
                        </div>
                    </div>
                </div>
            </div>

    </body>

    <div id="footer">
        <% include ../partials/footer %>
        <script src="/js/managerProfileScript.js"></script>
    </div>